<center>
<br><br>
<p>
  <strong>Category:</strong>
  <%= @cost.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cost.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @cost.amount %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
</center>