<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.select(:name, options_for_select([["General Income","General Income"], ["Salary","Salary"], ["Investment","Investment"], ["Gift","Gift"], ["Business","Business"], ["General Cost","General Cost"], ["Bills","Bills"], ["Clothes","Clothes"], ["Food", "Food"], ["Entertainment","Entertainment"], ["Personal","Personal"], ["Transportation","Transportation"], ["Education","Education"], ["Home","Home"], ["Medical","Medical"], ["Insurance","Insurance"] ])) %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
