<p id="notice"><%= notice %></p>
<div id="wrapper">

<div id="leftside">
<br>
<font color="blue">
<h3>Navigation</h3></font><br>
<ul>
<li><%= link_to 'Categories', categories_path %></li>
<li><%= link_to 'All Incomes', incomes_path %></li>
<li><%= link_to 'All Costs', costs_path %></li>
</ul>
</div>

<div id="content">
<br>
<font color="blue">
<h3>Listing Categories</h3></font><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <% if user_signed_in? %>
        <% if current_user.id == category.user_id %>
        <td><%= category.name %></td>
        <td><td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% total_income = 0 %>
<% current_user.incomes.each do |income| %>
  <% if user_signed_in? %>
    <% if current_user.id == income.user_id %>
      <% total_income = total_income + income.amount %>
    <% end %>
  <% end %>
<% end %>

<% total_cost = 0 %>
<% date = 0 %>
<% current_user.costs.each do |cost| %>
  <% if user_signed_in? %>
    <% if current_user.id == cost.user_id %>
      <% total_cost = total_cost + cost.amount %>
      <% date= cost.created_at.strftime("%d").to_i %>
    <% end %>
  <% end %>
<% end %>

<% alert_cost = 0 %>
<% current_user.costs.each do |cost| %>
  <% if user_signed_in? %>
    <% if current_user.id == cost.user_id %>
      <% date1 = cost.created_at.strftime("%d").to_i %>
      <% if date1 == date || date1 == date-1 || date1 == date-2 || date1== date-3 || date1== date-4 || date1== date-5 || date1== date-6 %>
        <% alert_cost = alert_cost + cost.amount %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'New Category', new_category_path %>

</div>

<div id="rightsidebar">
<div id="rightsidebartop">
<br>
<font color="blue">
<h3>Account Status</h3></font><br>
Total Incomes = $<%= total_income %>
<br>Total Costs = $<%= total_cost %>
<br>Total Savings = $<%= total_income-total_cost %>
</div>
<div id="rightsidebartop">
<br>
<font color="blue">
<h3>Alerts</h3></font><br>
<br>
<% alert = (alert_cost*100)/(total_income-total_cost) %>
<% if alert > 24 %>
<font color="red">
  Hello User!
  <p>You used more than 25% of your available balance in one week.</p>
  Available Balance = $<%= total_income-total_cost %>
  <br>Used in 1 Week = $<%= alert_cost %>
  <br>Thank you
</font>
<% else %>
  No Alerts
<% end %>
</div>
</div>