<style type="text/css"><!--
#wrap {
   width: 400px;
   margin:0 auto;
}
#left_col {
   float:left;
   width: 200px;
}
#right_col {
   float:right;
   width: 200px;
}
--></style>

<center>
<br>
<h3>New Category</h3>

<%= render 'form' %>

<%= link_to 'Back', categories_path %>
<br>
</center>

<div id="wrap">
<div id="left_col"><br>
<strong>Income Category Names</strong>
<ul>
<li>General Income</li>
<li>Salary</li>
<li>Investment</li>
<li>Gift</li>
<li>Business</li>
</ul>
</div>
<div id="right_col"><br>
<strong>Cost Category Names</strong>
<ul>
<li>General Expense</li>
<li>Bills</li>
<li>Clothes</li>
<li>Food</li>
<li>Entertainment</li>
<li>Personal</li>
<li>Transportation</li>
<li>Education</li>
<li>Home</li>
<li>Medical</li>
<li>Insurance</li>
</ul>
</div>
</div>