<p id="notice"><%= notice %></p>
<center>
<br>
<h3>Category</h3>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<br>
<% clicked = @category.name %>
<% if clicked == "General Income" || clicked == "Salary" || clicked == "Investment" || clicked == "Gift" || clicked == "Business"%>
<br>
<h3>Incomes</h3>
<br>
<h5>Existing Incomes in <%= @category.name %>:</h5>
<div id="incomes">
	<%= render :partial => @category.incomes.reverse %>
</div>
<br>
<h5>To Add Incomes in <%= @category.name %>:</h5>
<%= form_for([@category, Income.new], remote: true) do |f| %>
	<p><%= f.label :name, "New Income Name" %><br />
		<%= f.text_field :name %>
	</p>
	<p><%= f.label :amount, "New Income Amount" %><br />
		<%= f.number_field :amount %>
		<%= f.hidden_field :user_id, value: current_user.id %>
	</p>
	<br>
	<p><%= f.submit "Add Income" %></p>
<% end %>

<% else %>

<h3>Costs</h3>
<br>
<h5>Existing Costs in <%= @category.name %>:</h5>
<div id="costs">
	<%= render :partial => @category.costs.reverse %>
</div>
<br>
<h5>To Add Costs in <%= @category.name %>:</h5>
<%= form_for([@category, Cost.new], remote: true) do |f| %>
	<p><%= f.label :name, "New Cost Name" %><br />
		<%= f.text_field :name %>
	</p>
	<p><%= f.label :amount, "New Cost Amount" %><br />
		<%= f.number_field :amount %>
		<%= f.hidden_field :user_id, value: current_user.id %>
	</p>
	<br>
	<p><%= f.submit "Add Cost" %></p>
<% end %>

<% end %>
<br>
<%= link_to 'Back', categories_path %>
</center>