<!DOCTYPE html>
<html>
<head>
  <title>e-Wallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<style type="text/css"><!--
article, section, aside, hgroup, nav, header, figure, figcaption { 
    display: block;
}

*{
    margin: 0px;
    padding: 0px;
}
body {
    margin-left: 0px;
    margin-top: 0px;
}
img {
    border: none;
}
#wrapper {
    width: 990px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}
header {
    background-color:black;
    height: 50px;
}
#leftside {
    width: 290px;
    height: 470px;
    float: left;
}

#content {
    width: 500px;
    height: 470px; 
    float: left;
}
#rightsidebar {
    width: 200px;
    height: 470px; 
    float: left;
}
#rightsidebartop {
    width: 245px;
    height: 235px; 
    float: left; 
}
#rightsidebarbottom {
    width: 245px;
    height: 235px; 
    float: left; 
}
#footer{
    background-color:black;
    position:fixed;
    height: 60px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
--></style>

<body>

<header><center><br>
  <font color="red">
  <h1>~@~ Welcome to e-Wallet ~@~</h1>
  <h6>An app to store your money flow</h6>
</font>
<br></center></header>
<br>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

<div id="footer">
  <center>
    <%= image_tag("footer.jpg", :alt => "eWallet", :size => "40") %>
  </center>
    <center><font color="red">
    Developed by Deepak Velagaleti
  </font></center>
</div>
</body>
</html>
